/venv/
/.idea/
__pycache__/

!/cache
/cache/*
!/cache/dummy.txt

!/models
/models/*
!/models/dummy.txt

!/experiments/results
/experiments/results/*
!/experiments/results/dummy.txt

/datasets/
!/datasets/aviation/aviation.py
!/datasets/corona/corona.py
!/datasets/countries/countries.py
!/datasets/nobel/nobel.py