/venv/
/.idea/
__pycache__/

!/cache
/cache/*
!/cache/dummy.txt

!/models
/models/*
!/models/dummy.txt

!/experiments/results
/experiments/results/*
!/experiments/results/dummy.txt

/datasets/*/raw-documents/*
/datasets/*/html-documents/*
/datasets/*/documents/*